language: python
matrix:
  include:
    - python: 3.6
      env: TOXENV=py36
    - python: 3.7
      env: TOXENV=py37
    - python: 3.8
      env: TOXENV=py38
    - python: 3.9
      env: TOXENV=py39,pep8,pylint
sudo: false
install: pip install tox coveralls codecov
cache:
    directories:
        - $HOME/.cache/pip
script: tox
after_success:
  - codecov
